version: '3'

services:
  app:
    image: gitlab.designcopilot.io:5050/design-copilot/mcp-server/app:main
    build:
      context: .
      dockerfile: ./Dockerfile
    restart: always
    ports:
      - 3000:3000
